/* INPUT */
.flx-input-control:not(.flx-themed) {
  --flxTheme-input-accentColor: #006bd8;
  --flxTheme-input-fontFamily: 'Open Sans';
  --flxTheme-input-fontSize: 14px;
  --flxTheme-input-fontWeight: 500;
  --flxTheme-input-lineHeight: 22px;
  --flxTheme-input-borderWidth: 1px;
  --flxTheme-input-borderRadius: 4px;
  --flxTheme-input-paddingLeft: 8px;
  --flxTheme-input-paddingBottom: 8px;
  --flxTheme-input-paddingRight: 8px;
  --flxTheme-input-paddingTop: 8px;

  & .flx-input {
    &:hover {
      --flxTheme-input-prefixSuffixColor: #727272;
      --flxTheme-input-color: #000000;
      --flxTheme-input-backgroundColor: #ffffff;
      --flxTheme-input-borderColor: #8390a2;

      & .flx-prefix .flx-icon {
        --flxTheme-input-iconLeftColor: invert(0%) sepia(6%) saturate(7478%) hue-rotate(312deg)
          brightness(107%) contrast(105%);
      }

      & .flx-suffix .flx-icon {
        --flxTheme-input-iconRightColor: invert(0%) sepia(6%) saturate(7478%) hue-rotate(312deg)
          brightness(107%) contrast(105%);
      }

      & input::placeholder {
        --flxTheme-input-placeholderColor: #727272;
      }

      & .flx-input-clear {
        --flxTheme-input-placeholderColor: invert(51%) sepia(1%) saturate(1507%) hue-rotate(315deg)
          brightness(85%) contrast(82%);
      }
    }

    &.filled {
      --flxTheme-input-prefixSuffixColor: #727272;
      --flxTheme-input-color: #000000;
      --flxTheme-input-backgroundColor: #ffffff;
      --flxTheme-input-borderColor: #8390a2;

      & .flx-prefix .flx-icon {
        --flxTheme-input-iconLeftColor: invert(0%) sepia(6%) saturate(7478%) hue-rotate(312deg)
          brightness(107%) contrast(105%);
      }

      & .flx-suffix .flx-icon {
        --flxTheme-input-iconRightColor: invert(0%) sepia(6%) saturate(7478%) hue-rotate(312deg)
          brightness(107%) contrast(105%);
      }

      & input::placeholder {
        --flxTheme-input-placeholderColor: #727272;
      }

      & .flx-input-clear {
        --flxTheme-input-placeholderColor: invert(51%) sepia(1%) saturate(1507%) hue-rotate(315deg)
          brightness(85%) contrast(82%);
      }
    }

    &.focused {
      --flxTheme-input-prefixSuffixColor: #727272;
      --flxTheme-input-color: #000000;
      --flxTheme-input-backgroundColor: #ffffff;
      --flxTheme-input-borderColor: #006bd8;

      & .flx-prefix .flx-icon {
        --flxTheme-input-iconLeftColor: invert(0%) sepia(6%) saturate(7478%) hue-rotate(312deg)
          brightness(107%) contrast(105%);
      }

      & .flx-suffix .flx-icon {
        --flxTheme-input-iconRightColor: invert(0%) sepia(6%) saturate(7478%) hue-rotate(312deg)
          brightness(107%) contrast(105%);
      }

      & input::placeholder {
        --flxTheme-input-placeholderColor: #727272;
      }

      & .flx-input-clear {
        --flxTheme-input-placeholderColor: invert(51%) sepia(1%) saturate(1507%) hue-rotate(315deg)
          brightness(85%) contrast(82%);
      }
    }

    &.disabled {
      --flxTheme-input-prefixSuffixColor: #8390a2;
      --flxTheme-input-color: #64748b;
      --flxTheme-input-backgroundColor: #ffffff;
      --flxTheme-input-borderColor: #e3e8ed;

      & .flx-prefix .flx-icon {
        --flxTheme-input-iconLeftColor: invert(43%) sepia(10%) saturate(948%) hue-rotate(176deg)
          brightness(100%) contrast(88%);
      }

      & .flx-suffix .flx-icon {
        --flxTheme-input-iconRightColor: invert(43%) sepia(10%) saturate(948%) hue-rotate(176deg)
          brightness(100%) contrast(88%);
      }

      & input::placeholder {
        --flxTheme-input-placeholderColor: #8390a2;
      }

      & .flx-input-clear {
        --flxTheme-input-placeholderColor: invert(64%) sepia(8%) saturate(763%) hue-rotate(175deg)
          brightness(88%) contrast(87%);
      }
    }

    &.error {
      --flxTheme-input-prefixSuffixColor: #727272;
      --flxTheme-input-color: #000000;
      --flxTheme-input-backgroundColor: #ffffff;
      --flxTheme-input-borderColor: #e62200;

      & .flx-prefix .flx-icon {
        --flxTheme-input-iconLeftColor: invert(0%) sepia(6%) saturate(7478%) hue-rotate(312deg)
          brightness(107%) contrast(105%);
      }

      & .flx-suffix .flx-icon {
        --flxTheme-input-iconRightColor: invert(0%) sepia(6%) saturate(7478%) hue-rotate(312deg)
          brightness(107%) contrast(105%);
      }

      & input::placeholder {
        --flxTheme-input-placeholderColor: #727272;
      }

      & .flx-input-clear {
        --flxTheme-input-placeholderColor: invert(51%) sepia(1%) saturate(1507%) hue-rotate(315deg)
          brightness(85%) contrast(82%);
      }
    }

    & {
      --flxTheme-input-prefixSuffixColor: #727272;
      --flxTheme-input-color: #000000;
      --flxTheme-input-backgroundColor: #ffffff;
      --flxTheme-input-borderColor: #cbd1db;

      & .flx-prefix .flx-icon {
        --flxTheme-input-iconLeftColor: invert(0%) sepia(6%) saturate(7478%) hue-rotate(312deg)
          brightness(107%) contrast(105%);
      }

      & .flx-suffix .flx-icon {
        --flxTheme-input-iconRightColor: invert(0%) sepia(6%) saturate(7478%) hue-rotate(312deg)
          brightness(107%) contrast(105%);
      }

      & input::placeholder {
        --flxTheme-input-placeholderColor: #727272;
      }

      & .flx-input-clear {
        --flxTheme-input-placeholderColor: invert(51%) sepia(1%) saturate(1507%) hue-rotate(315deg)
          brightness(85%) contrast(82%);
      }
    }
  }
}

/* TEXTAREA */
.flx-textarea-control:not(.flx-themed) {
  --flxTheme-textarea-accentColor: #006bd8;
  --flxTheme-textarea-fontFamily: 'Open Sans';
  --flxTheme-textarea-fontSize: 14px;
  --flxTheme-textarea-fontWeight: 500;
  --flxTheme-textarea-lineHeight: 22px;
  --flxTheme-textarea-borderWidth: 1px;
  --flxTheme-textarea-borderRadius: 4px;
  --flxTheme-textarea-paddingLeft: 8px;
  --flxTheme-textarea-paddingBottom: 8px;
  --flxTheme-textarea-paddingRight: 8px;
  --flxTheme-textarea-paddingTop: 8px;

  & textarea {
    &:hover {
      --flxTheme-textarea-placeholderColor: #727272;
      --flxTheme-textarea-prefixSuffixColor: #727272;
      --flxTheme-textarea-iconRightColor: #000000;
      --flxTheme-textarea-iconLeftColor: #000000;
      --flxTheme-textarea-color: #000000;
      --flxTheme-textarea-backgroundColor: #ffffff;
      --flxTheme-textarea-borderColor: #8390a2;
    }

    &.filled {
      --flxTheme-textarea-placeholderColor: #727272;
      --flxTheme-textarea-prefixSuffixColor: #727272;
      --flxTheme-textarea-iconRightColor: #000000;
      --flxTheme-textarea-iconLeftColor: #000000;
      --flxTheme-textarea-color: #000000;
      --flxTheme-textarea-backgroundColor: #ffffff;
      --flxTheme-textarea-borderColor: #8390a2;
    }

    &:focus {
      --flxTheme-textarea-placeholderColor: #727272;
      --flxTheme-textarea-prefixSuffixColor: #727272;
      --flxTheme-textarea-iconRightColor: #000000;
      --flxTheme-textarea-iconLeftColor: #000000;
      --flxTheme-textarea-color: #000000;
      --flxTheme-textarea-backgroundColor: #ffffff;
      --flxTheme-textarea-borderColor: #006bd8;
    }

    &:disabled {
      --flxTheme-textarea-placeholderColor: #8390a2;
      --flxTheme-textarea-prefixSuffixColor: #8390a2;
      --flxTheme-textarea-iconRightColor: #64748b;
      --flxTheme-textarea-iconLeftColor: #64748b;
      --flxTheme-textarea-color: #64748b;
      --flxTheme-textarea-backgroundColor: #ffffff;
      --flxTheme-textarea-borderColor: #e3e8ed;
    }

    &.error {
      --flxTheme-textarea-placeholderColor: #727272;
      --flxTheme-textarea-prefixSuffixColor: #727272;
      --flxTheme-textarea-iconRightColor: #000000;
      --flxTheme-textarea-iconLeftColor: #000000;
      --flxTheme-textarea-color: #000000;
      --flxTheme-textarea-backgroundColor: #ffffff;
      --flxTheme-textarea-borderColor: #e62200;
    }

    & {
      --flxTheme-textarea-placeholderColor: #727272;
      --flxTheme-textarea-prefixSuffixColor: #727272;
      --flxTheme-textarea-iconRightColor: #000000;
      --flxTheme-textarea-iconLeftColor: #000000;
      --flxTheme-textarea-color: #000000;
      --flxTheme-textarea-backgroundColor: #ffffff;
      --flxTheme-textarea-borderColor: #cbd1db;
    }
  }
}

/* CHIP */
.flx-chip:not(.flx-themed) {
  /* Generic properties */
  --flxTheme-chips-paddingTop: 2px;
  --flxTheme-chips-paddingRight: 4px;
  --flxTheme-chips-paddingBottom: 2px;
  --flxTheme-chips-paddingLeft: 4px;
  --flxTheme-chips-gap: 4px;
  --flxTheme-chips-fontFamily: 'Open Sans';
  --flxTheme-chips-fontSize: 14px;
  --flxTheme-chips-fontWeight: 500;
  --flxTheme-chips-lineHeight: 22px;

  /* Default state */
  --flxTheme-chips-backgroundColor: #e3e8ed;
  --flxTheme-chips-color: #0f1114;
  --flxTheme-chips-iconColor: #64748b;

  /* Disabled state */
  &.disabled {
    --flxTheme-chips-backgroundColor: #e3e8ed;
    --flxTheme-chips-color: #a6b0be;
    --flxTheme-chips-iconColor: #a6b0be;
  }
}

/* SELECT */
.flx-select:not(.flx-themed) {
  --flxTheme-select-accentColor: #006bd8;
  --flxTheme-select-fontFamily: 'Open Sans';
  --flxTheme-select-fontSize: 14px;
  --flxTheme-select-fontWeight: 500;
  --flxTheme-select-lineHeight: 22px;
  --flxTheme-select-borderWidth: 1px;
  --flxTheme-select-borderRadius: 4px;
  --flxTheme-select-paddingLeft: 8px;
  --flxTheme-select-paddingBottom: 8px;
  --flxTheme-select-paddingRight: 8px;
  --flxTheme-select-paddingTop: 8px;

  & .flx-select-trigger {
    &:hover {
      --flxTheme-select-prefixSuffixColor: #727272;
      --flxTheme-select-color: #000000;
      --flxTheme-select-backgroundColor: #ffffff;
      --flxTheme-select-borderColor: #8390a2;

      & .flx-prefix .flx-icon {
        --flxTheme-select-iconLeftColor: invert(0%) sepia(91%) saturate(7464%) hue-rotate(1deg)
          brightness(104%) contrast(93%);
      }

      & .flx-select-arrow .flx-icon {
        --flxTheme-select-iconRightColor: invert(0%) sepia(91%) saturate(7464%) hue-rotate(1deg)
          brightness(104%) contrast(93%);
      }

      &.empty {
        --flxTheme-select-placeholderColor: #727272;
      }

      & .flx-select-clear {
        --flxTheme-select-placeholderColor: invert(43%) sepia(22%) saturate(12%) hue-rotate(350deg)
          brightness(98%) contrast(97%);
      }
    }

    &.filled {
      --flxTheme-select-prefixSuffixColor: #727272;
      --flxTheme-select-color: #000000;
      --flxTheme-select-backgroundColor: #ffffff;
      --flxTheme-select-borderColor: #8390a2;

      & .flx-prefix .flx-icon {
        --flxTheme-select-iconLeftColor: invert(0%) sepia(91%) saturate(7464%) hue-rotate(1deg)
          brightness(104%) contrast(93%);
      }

      & .flx-select-arrow .flx-icon {
        --flxTheme-select-iconRightColor: invert(0%) sepia(91%) saturate(7464%) hue-rotate(1deg)
          brightness(104%) contrast(93%);
      }

      &.empty {
        --flxTheme-select-placeholderColor: #727272;
      }

      & .flx-select-clear {
        --flxTheme-select-placeholderColor: invert(43%) sepia(22%) saturate(12%) hue-rotate(350deg)
          brightness(98%) contrast(97%);
      }
    }

    &.focused {
      --flxTheme-select-prefixSuffixColor: #727272;
      --flxTheme-select-color: #000000;
      --flxTheme-select-backgroundColor: #ffffff;
      --flxTheme-select-borderColor: #006bd8;

      & .flx-prefix .flx-icon {
        --flxTheme-select-iconLeftColor: invert(0%) sepia(91%) saturate(7464%) hue-rotate(1deg)
          brightness(104%) contrast(93%);
      }

      & .flx-select-arrow .flx-icon {
        --flxTheme-select-iconRightColor: invert(0%) sepia(91%) saturate(7464%) hue-rotate(1deg)
          brightness(104%) contrast(93%);
      }

      &.empty {
        --flxTheme-select-placeholderColor: #727272;
      }

      & .flx-select-clear {
        --flxTheme-select-placeholderColor: invert(43%) sepia(22%) saturate(12%) hue-rotate(350deg)
          brightness(98%) contrast(97%);
      }
    }

    &.disabled {
      --flxTheme-select-prefixSuffixColor: #8390a2;
      --flxTheme-select-color: #64748b;
      --flxTheme-select-backgroundColor: #ffffff;
      --flxTheme-select-borderColor: #e3e8ed;

      & .flx-prefix .flx-icon {
        --flxTheme-select-iconLeftColor: invert(44%) sepia(40%) saturate(253%) hue-rotate(176deg)
          brightness(91%) contrast(88%);
      }

      & .flx-select-arrow .flx-icon {
        --flxTheme-select-iconRightColor: invert(44%) sepia(40%) saturate(253%) hue-rotate(176deg)
          brightness(91%) contrast(88%);
      }

      &.empty {
        --flxTheme-select-placeholderColor: #8390a2;
      }

      & .flx-select-clear {
        --flxTheme-select-placeholderColor: invert(57%) sepia(19%) saturate(328%) hue-rotate(175deg)
          brightness(97%) contrast(86%);
      }
    }

    &.error {
      --flxTheme-select-prefixSuffixColor: #727272;
      --flxTheme-select-color: #000000;
      --flxTheme-select-backgroundColor: #ffffff;
      --flxTheme-select-borderColor: #e62200;

      & .flx-prefix .flx-icon {
        --flxTheme-select-iconLeftColor: invert(0%) sepia(91%) saturate(7464%) hue-rotate(1deg)
          brightness(104%) contrast(93%);
      }

      & .flx-select-arrow .flx-icon {
        --flxTheme-select-iconRightColor: invert(0%) sepia(91%) saturate(7464%) hue-rotate(1deg)
          brightness(104%) contrast(93%);
      }

      &.empty {
        --flxTheme-select-placeholderColor: #727272;
      }

      & .flx-select-clear {
        --flxTheme-select-placeholderColor: invert(43%) sepia(22%) saturate(12%) hue-rotate(350deg)
          brightness(98%) contrast(97%);
      }
    }

    & {
      --flxTheme-select-prefixSuffixColor: #727272;
      --flxTheme-select-color: #000000;
      --flxTheme-select-backgroundColor: #ffffff;
      --flxTheme-select-borderColor: #cbd1db;

      & .flx-prefix .flx-icon {
        --flxTheme-select-iconLeftColor: invert(0%) sepia(91%) saturate(7464%) hue-rotate(1deg)
          brightness(104%) contrast(93%);
      }

      & .flx-select-arrow .flx-icon {
        --flxTheme-select-iconRightColor: invert(0%) sepia(91%) saturate(7464%) hue-rotate(1deg)
          brightness(104%) contrast(93%);
      }

      &.empty {
        --flxTheme-select-placeholderColor: #727272;
      }

      & .flx-select-clear {
        --flxTheme-select-placeholderColor: invert(43%) sepia(22%) saturate(12%) hue-rotate(350deg)
          brightness(98%) contrast(97%);
      }
    }
  }

  & .flx-select-value.multiselect,
  & .flx-select-value-temp {
    &:hover {
      --flxTheme-multiSelect-color: #000000;
      --flxTheme-multiSelect-backgroundColor: #ffffff;
      --flxTheme-multiSelect-borderColor: #8390a2;

      & .flx-select-arrow .flx-icon {
        --flxTheme-multiSelect-iconRightColor: invert(0%) sepia(91%) saturate(7464%)
          hue-rotate(1deg) brightness(104%) contrast(93%);
      }

      &.empty {
        --flxTheme-multiSelect-placeholderColor: #727272;
      }
    }

    &.filled {
      --flxTheme-multiSelect-color: #000000;
      --flxTheme-multiSelect-backgroundColor: #ffffff;
      --flxTheme-multiSelect-borderColor: #8390a2;

      & .flx-select-arrow .flx-icon {
        --flxTheme-multiSelect-iconRightColor: invert(0%) sepia(91%) saturate(7464%)
          hue-rotate(1deg) brightness(104%) contrast(93%);
      }

      &.empty {
        --flxTheme-multiSelect-placeholderColor: #727272;
      }
    }

    &.focused {
      --flxTheme-multiSelect-color: #000000;
      --flxTheme-multiSelect-backgroundColor: #ffffff;
      --flxTheme-multiSelect-borderColor: #006bd8;

      & .flx-select-arrow .flx-icon {
        --flxTheme-multiSelect-iconRightColor: invert(0%) sepia(91%) saturate(7464%)
          hue-rotate(1deg) brightness(104%) contrast(93%);
      }

      &.empty {
        --flxTheme-multiSelect-placeholderColor: #727272;
      }
    }

    &.disabled {
      --flxTheme-multiSelect-color: #64748b;
      --flxTheme-multiSelect-backgroundColor: #ffffff;
      --flxTheme-multiSelect-borderColor: #e3e8ed;

      & .flx-select-arrow .flx-icon {
        --flxTheme-multiSelect-iconRightColor: invert(44%) sepia(40%) saturate(253%)
          hue-rotate(176deg) brightness(91%) contrast(88%);
      }

      &.empty {
        --flxTheme-multiSelect-placeholderColor: #8390a2;
      }
    }

    &.error {
      --flxTheme-multiSelect-color: #000000;
      --flxTheme-multiSelect-backgroundColor: #ffffff;
      --flxTheme-multiSelect-borderColor: #e62200;

      & .flx-select-arrow .flx-icon {
        --flxTheme-multiSelect-iconRightColor: invert(0%) sepia(91%) saturate(7464%)
          hue-rotate(1deg) brightness(104%) contrast(93%);
      }

      &.empty {
        --flxTheme-multiSelect-placeholderColor: #727272;
      }
    }

    & {
      --flxTheme-multiSelect-color: #000000;
      --flxTheme-multiSelect-backgroundColor: #ffffff;
      --flxTheme-multiSelect-borderColor: #cbd1db;

      & .flx-select-arrow .flx-icon {
        --flxTheme-multiSelect-iconRightColor: invert(0%) sepia(91%) saturate(7464%)
          hue-rotate(1deg) brightness(104%) contrast(93%);
      }

      &.empty {
        --flxTheme-multiSelect-placeholderColor: #727272;
      }
    }

    &.chips {
      gap: 4px;
      /* Generic properties */
      --flxTheme-chips-paddingTop: 2px;
      --flxTheme-chips-paddingRight: 4px;
      --flxTheme-chips-paddingBottom: 2px;
      --flxTheme-chips-paddingLeft: 4px;
      --flxTheme-chips-gap: 4px;
      --flxTheme-chips-fontFamily: 'Open Sans';
      --flxTheme-chips-fontSize: 14px;
      --flxTheme-chips-fontWeight: 500;
      --flxTheme-chips-lineHeight: 22px;
      --flxTheme-chips-borderRadius: 4px;

      /* Default state */
      --flxTheme-chips-backgroundColor: #e3e8ed;
      --flxTheme-chips-color: #0f1114;
      --flxTheme-chips-iconColor: #64748b;

      &.chips-outside {
        margin-top: var(--flxTheme-chips-gap);
      }

      /* Disabled state */
      &.disabled {
        --flxTheme-chips-backgroundColor: #e3e8ed;
        --flxTheme-chips-color: #a6b0be;
        --flxTheme-chips-iconColor: #a6b0be;
      }
    }
  }
}

/* SELECT OPTION */
.flx-select-option:not(.flx-themed) {
  --flxTheme-selectOption-fontFamily: 'Open Sans';
  --flxTheme-selectOption-fontSize: 14px;
  --flxTheme-selectOption-fontWeight: 500;
  --flxTheme-selectOption-lineHeight: 22px;
  --flxTheme-selectOption-paddingLeft: 8px;
  --flxTheme-selectOption-paddingBottom: 8px;
  --flxTheme-selectOption-paddingRight: 8px;
  --flxTheme-selectOption-paddingTop: 8px;

  &.active {
    --flxTheme-selectOption-color: #006bd8;
    --flxTheme-selectOption-backgroundColor: #b0d1f3;
  }

  &.unselected {
    --flxTheme-selectOption-color: #000000;
    --flxTheme-selectOption-backgroundColor: #ffffff;
  }

  &:hover {
    --flxTheme-selectOption-color: #000000;
    --flxTheme-selectOption-backgroundColor: #dddddd;
  }
}

/* MULTI SELECT OPTION */
.flx-multi-select-option:not(.flx-themed),
.flx-multi-select-search-icon:not(.flx-themed) {
  --flxTheme-multiSelectOption-fontFamily: 'Open Sans';
  --flxTheme-multiSelectOption-fontSize: 14px;
  --flxTheme-multiSelectOption-fontWeight: 500;
  --flxTheme-multiSelectOption-lineHeight: 22px;
  --flxTheme-multiSelectOption-paddingLeft: 8px;
  --flxTheme-multiSelectOption-paddingBottom: 8px;
  --flxTheme-multiSelectOption-paddingRight: 8px;
  --flxTheme-multiSelectOption-paddingTop: 8px;

  &.active {
    --flxTheme-multiSelectOption-color: #000000;
    --flxTheme-multiSelectOption-backgroundColor: #b0d1f3;
    --flxTheme-multiSelectOption-iconColor: #006bd8;

    &:hover:not(.disabled) {
      --flxTheme-multiSelectOption-color: #000000;
      --flxTheme-multiSelectOption-backgroundColor: #dddddd;
      --flxTheme-multiSelectOption-iconColor: #006bd8;
    }
  }

  &.unselected {
    --flxTheme-multiSelectOption-color: #000000;
    --flxTheme-multiSelectOption-backgroundColor: #ffffff;
    --flxTheme-multiSelectOption-iconColor: #e3e8ed;

    &:hover:not(.disabled) {
      --flxTheme-multiSelectOption-color: #000000;
      --flxTheme-multiSelectOption-backgroundColor: #dddddd;
      --flxTheme-multiSelectOption-iconColor: #e3e8ed;
    }
  }
}

/* MULTI SELECT SEARCH */
.flx-select-search-container:not(.flx-themed) {
  --flxTheme-multiSelectOption-fontFamily: 'Open Sans';
  --flxTheme-multiSelectOption-fontSize: 14px;
  --flxTheme-multiSelectOption-fontWeight: 500;
  --flxTheme-multiSelectOption-lineHeight: 22px;
  --flxTheme-multiSelectOption-paddingLeft: 8px;
  --flxTheme-multiSelectOption-paddingBottom: 8px;
  --flxTheme-multiSelectOption-paddingRight: 8px;
  --flxTheme-multiSelectOption-paddingTop: 8px;
  --flxTheme-multiSelectOption-color: #000000;
  --flxTheme-multiSelectOption-backgroundColor: #ffffff;
}

/* DATEPICKER */
.flx-datepicker:not(.flx-themed) {
  --flxTheme-datePicker-accentColor: #006bd8;
  --flxTheme-datePicker-fontFamily: 'Open Sans';
  --flxTheme-datePicker-fontSize: 14px;
  --flxTheme-datePicker-fontWeight: 500;
  --flxTheme-datePicker-lineHeight: 22px;
  --flxTheme-datePicker-borderWidth: 1px;
  --flxTheme-datePicker-borderRadius: 4px;
  --flxTheme-datePicker-paddingLeft: 8px;
  --flxTheme-datePicker-paddingBottom: 8px;
  --flxTheme-datePicker-paddingRight: 8px;
  --flxTheme-datePicker-paddingTop: 8px;

  & .flx-datepicker-trigger,
  &.flx-datepicker-calendar {
    &:hover {
      --flxTheme-datePicker-prefixSuffixColor: #727272;
      --flxTheme-datePicker-color: #000000;
      --flxTheme-datePicker-backgroundColor: #ffffff;
      --flxTheme-datePicker-borderColor: #8390a2;

      & .flx-datepicker-icon .flx-icon {
        --flxTheme-datePicker-iconLeftColor: invert(0%) sepia(16%) saturate(4710%)
          hue-rotate(153deg) brightness(106%) contrast(98%);
      }

      & .flx-datepicker-arrow .flx-icon {
        --flxTheme-datePicker-iconRightColor: invert(0%) sepia(16%) saturate(4710%)
          hue-rotate(153deg) brightness(106%) contrast(98%);
      }

      & input::placeholder {
        --flxTheme-datePicker-placeholderColor: #727272;
      }

      & .flx-datepicker-clear {
        --flxTheme-datePicker-placeholderColor: invert(47%) sepia(1%) saturate(2744%)
          hue-rotate(358deg) brightness(93%) contrast(82%);
      }
    }

    &.filled {
      --flxTheme-datePicker-prefixSuffixColor: #727272;
      --flxTheme-datePicker-color: #000000;
      --flxTheme-datePicker-backgroundColor: #ffffff;
      --flxTheme-datePicker-borderColor: #8390a2;

      & .flx-datepicker-icon .flx-icon {
        --flxTheme-datePicker-iconLeftColor: invert(0%) sepia(16%) saturate(4710%)
          hue-rotate(153deg) brightness(106%) contrast(98%);
      }

      & .flx-datepicker-arrow .flx-icon {
        --flxTheme-datePicker-iconRightColor: invert(0%) sepia(16%) saturate(4710%)
          hue-rotate(153deg) brightness(106%) contrast(98%);
      }

      & input::placeholder {
        --flxTheme-datePicker-placeholderColor: #727272;
      }

      & .flx-datepicker-clear {
        --flxTheme-datePicker-placeholderColor: invert(47%) sepia(1%) saturate(2744%)
          hue-rotate(358deg) brightness(93%) contrast(82%);
      }
    }

    &.focused {
      --flxTheme-datePicker-prefixSuffixColor: #727272;
      --flxTheme-datePicker-color: #000000;
      --flxTheme-datePicker-backgroundColor: #ffffff;
      --flxTheme-datePicker-borderColor: #006bd8;

      & .flx-datepicker-icon .flx-icon {
        --flxTheme-datePicker-iconLeftColor: invert(0%) sepia(16%) saturate(4710%)
          hue-rotate(153deg) brightness(106%) contrast(98%);
      }

      & .flx-datepicker-arrow .flx-icon {
        --flxTheme-datePicker-iconRightColor: invert(0%) sepia(16%) saturate(4710%)
          hue-rotate(153deg) brightness(106%) contrast(98%);
      }

      & input::placeholder {
        --flxTheme-datePicker-placeholderColor: #727272;
      }

      & .flx-datepicker-clear {
        --flxTheme-datePicker-placeholderColor: invert(47%) sepia(1%) saturate(2744%)
          hue-rotate(358deg) brightness(93%) contrast(82%);
      }
    }

    &.disabled {
      --flxTheme-datePicker-prefixSuffixColor: #8390a2;
      --flxTheme-datePicker-color: #64748b;
      --flxTheme-datePicker-backgroundColor: #ffffff;
      --flxTheme-datePicker-borderColor: #e3e8ed;

      & .flx-datepicker-icon .flx-icon {
        --flxTheme-datePicker-iconLeftColor: invert(50%) sepia(17%) saturate(547%)
          hue-rotate(176deg) brightness(86%) contrast(92%);
      }

      & .flx-datepicker-arrow .flx-icon {
        --flxTheme-datePicker-iconRightColor: invert(50%) sepia(17%) saturate(547%)
          hue-rotate(176deg) brightness(86%) contrast(92%);
      }

      & input::placeholder {
        --flxTheme-datePicker-placeholderColor: #8390a2;
      }

      & .flx-datepicker-clear {
        --flxTheme-datePicker-placeholderColor: invert(58%) sepia(22%) saturate(281%)
          hue-rotate(175deg) brightness(93%) contrast(86%);
      }
    }

    &.error {
      --flxTheme-datePicker-prefixSuffixColor: #727272;
      --flxTheme-datePicker-color: #000000;
      --flxTheme-datePicker-backgroundColor: #ffffff;
      --flxTheme-datePicker-borderColor: #e62200;

      & .flx-datepicker-icon .flx-icon {
        --flxTheme-datePicker-iconLeftColor: invert(0%) sepia(16%) saturate(4710%)
          hue-rotate(153deg) brightness(106%) contrast(98%);
      }

      & .flx-datepicker-arrow .flx-icon {
        --flxTheme-datePicker-iconRightColor: invert(0%) sepia(16%) saturate(4710%)
          hue-rotate(153deg) brightness(106%) contrast(98%);
      }

      & input::placeholder {
        --flxTheme-datePicker-placeholderColor: #727272;
      }

      & .flx-datepicker-clear {
        --flxTheme-datePicker-placeholderColor: invert(47%) sepia(1%) saturate(2744%)
          hue-rotate(358deg) brightness(93%) contrast(82%);
      }
    }

    & {
      --flxTheme-datePicker-prefixSuffixColor: #727272;
      --flxTheme-datePicker-color: #000000;
      --flxTheme-datePicker-backgroundColor: #ffffff;
      --flxTheme-datePicker-borderColor: #cbd1db;

      & .flx-datepicker-icon .flx-icon {
        --flxTheme-datePicker-iconLeftColor: invert(0%) sepia(16%) saturate(4710%)
          hue-rotate(153deg) brightness(106%) contrast(98%);
      }

      & .flx-datepicker-arrow .flx-icon {
        --flxTheme-datePicker-iconRightColor: invert(0%) sepia(16%) saturate(4710%)
          hue-rotate(153deg) brightness(106%) contrast(98%);
      }

      & input::placeholder {
        --flxTheme-datePicker-placeholderColor: #727272;
      }

      & .flx-datepicker-clear {
        --flxTheme-datePicker-placeholderColor: invert(47%) sepia(1%) saturate(2744%)
          hue-rotate(358deg) brightness(93%) contrast(82%);
      }
    }
  }
}

/* DATEPICKER CALENDAR */
.air-datepicker {
  --flxTheme-datePickerCalendar-fontFamily: 'Open Sans';
  --flxTheme-datePickerCalendar-fontSize: 14px;
  --flxTheme-datePickerCalendar-fontWeight: 500;
  --flxTheme-datePickerCalendar-lineHeight: 22px;
  --flxTheme-datePickerCalendar-color: #000000;
  --flxTheme-datePickerCalendar-borderColor: #ffffff;
  --flxTheme-datePickerCalendar-backgroundColor: #ffffff;

  & .air-datepicker-cell.disabled {
    --flxTheme-datePickerCalendar-color: #8390a2;
    --flxTheme-datePickerCalendar-borderColor: #ffffff;
    --flxTheme-datePickerCalendar-backgroundColor: #ffffff;
  }

  & .air-datepicker-cell.-current-:not(.-selected-) {
    --flxTheme-datePickerCalendar-color: #000000;
    --flxTheme-datePickerCalendar-borderColor: #ffffff;
    --flxTheme-datePickerCalendar-backgroundColor: #cbd1db;
  }

  & .air-datepicker-cell.-selected- .datepicker-cell.-selected-:hover {
    --flxTheme-datePickerCalendar-color: #000000;
    --flxTheme-datePickerCalendar-borderColor: #ffffff;
    --flxTheme-datePickerCalendar-backgroundColor: #006bd8;
  }

  & .air-datepicker-cell.-focus- {
    --flxTheme-datePickerCalendar-color: #000000;
    --flxTheme-datePickerCalendar-borderColor: #ffffff;
    --flxTheme-datePickerCalendar-backgroundColor: #f2f2f2;
  }
}

/* LABEL */
.flx-form-field-label:not(.flx-themed) {
  --flxTheme-label-linkColor: #006bd8;
  --flxTheme-label-fontFamily: 'Open Sans';
  --flxTheme-label-fontSize: 14px;
  --flxTheme-label-fontWeight: 500;
  --flxTheme-label-lineHeight: 22px;

  &.disabled {
    --flxTheme-label-color: #a6b0be;
  }

  & {
    --flxTheme-label-color: #3d3d3d;
  }
}

/* ERROR */
.flx-form-field-error:not(.flx-themed) {
  --flxTheme-error-color: #e62200;
  --flxTheme-error-fontFamily: 'Open Sans';
  --flxTheme-error-fontSize: 12px;
  --flxTheme-error-fontWeight: 400;
  --flxTheme-error-lineHeight: 18px;
}

/* HELPER TEXT */
.flx-form-field-helper:not(.flx-themed) {
  --flxTheme-helper-color: #64748b;
  --flxTheme-helper-fontFamily: 'Open Sans';
  --flxTheme-helper-fontSize: 12px;
  --flxTheme-helper-fontWeight: 500;
  --flxTheme-helper-lineHeight: 18px;
}

/* HELPER TOOLTIP */
.flx-info-helper:not(.flx-themed),
.flx-tooltip:not(.flx-themed) {
  --flxTheme-helperTooltip-backgroundColor: #ffffff;
  --flxTheme-helperTooltip-iconColor: #64748b;
  --flxTheme-helperTooltip-color: #64748b;
  --flxTheme-helperTooltip-fontFamily: 'Open Sans';
  --flxTheme-helperTooltip-fontSize: 12px;
  --flxTheme-helperTooltip-fontWeight: 400;
  --flxTheme-helperTooltip-lineHeight: 18px;
}

/* BUTTON */
.flx-button:not(.flx-themed) {
  --flxTheme-button-accentColor: #006bd8;
  --flxTheme-button-borderWidth: 1px;
  --flxTheme-button-borderRadius: 4px;
  --flxTheme-button-paddingRight: 32px;
  --flxTheme-button-paddingLeft: 32px;
  --flxTheme-button-paddingTop: 8px;
  --flxTheme-button-paddingBottom: 8px;
  --flxTheme-button-fontFamily: 'Open Sans';
  --flxTheme-button-fontSize: 14px;
  --flxTheme-button-fontWeight: 600;
  --flxTheme-button-lineHeight: 22px;

  &.text {
    --flxTheme-button-color: #006bd8;

    & .flx-icon {
      /* --flxTheme-button-iconColor: invert(26%) sepia(59%) saturate(4355%) hue-rotate(199deg) brightness(93%) contrast(100%); */
    }
  }

  &.text:hover {
    --flxTheme-button-color: #3389e0;

    & .flx-icon {
      /* --flxTheme-button-iconColor: invert(27%) sepia(81%) saturate(6138%) hue-rotate(200deg) brightness(88%) contrast(101%); */
    }
  }

  &.text:is(:active, :active:hover):not(:disabled) {
    --flxTheme-button-color: #005fc0;

    & .flx-icon {
      /* --flxTheme-button-iconColor: invert(27%) sepia(81%) saturate(6138%) hue-rotate(200deg) brightness(88%) contrast(101%); */
    }
  }

  &.text:disabled {
    --flxTheme-button-color: #a6b0be;

    & .flx-icon {
      /* --flxTheme-button-iconColor: invert(76%) sepia(24%) saturate(155%) hue-rotate(175deg) brightness(88%) contrast(88%); */
    }
  }

  &.ghost {
    --flxTheme-button-borderColor: #006bd8;
    --flxTheme-button-backgroundColor: #ffffff00;
    --flxTheme-button-color: #006bd8;

    & .flx-icon {
      /* --flxTheme-button-iconColor: invert(26%) sepia(59%) saturate(4355%) hue-rotate(199deg) brightness(93%) contrast(100%); */
    }
  }

  &.ghost:hover {
    --flxTheme-button-borderColor: #3389e0;
    --flxTheme-button-backgroundColor: #ffffff00;
    --flxTheme-button-color: #3389e0;

    & .flx-icon {
      /* --flxTheme-button-iconColor: invert(44%) sepia(99%) saturate(1453%) hue-rotate(190deg) brightness(93%) contrast(88%); */
    }
  }

  &.ghost:is(:active, :active:hover):not(:disabled) {
    --flxTheme-button-borderColor: #005fc0;
    --flxTheme-button-backgroundColor: #ffffff00;
    --flxTheme-button-color: #005fc0;

    & .flx-icon {
      /* --flxTheme-button-iconColor: invert(27%) sepia(81%) saturate(6138%) hue-rotate(200deg) brightness(88%) contrast(101%); */
    }
  }

  &.ghost:disabled {
    --flxTheme-button-borderColor: #a6b0be;
    --flxTheme-button-backgroundColor: #ffffff00;
    --flxTheme-button-color: #a6b0be;

    & .flx-icon {
      /* --flxTheme-button-iconColor: invert(76%) sepia(24%) saturate(155%) hue-rotate(175deg) brightness(88%) contrast(88%); */
    }
  }

  &.fill {
    --flxTheme-button-borderColor: #ffffff00;
    --flxTheme-button-backgroundColor: #006bd8;
    --flxTheme-button-color: #ffffff;

    & .flx-icon {
      /* --flxTheme-button-iconColor: invert(100%) sepia(0%) saturate(7421%) hue-rotate(115deg) brightness(96%) contrast(92%); */
    }
  }

  &.fill:hover {
    --flxTheme-button-borderColor: #ffffff00;
    --flxTheme-button-backgroundColor: #3389e0;
    --flxTheme-button-color: #ffffff;

    & .flx-icon {
      /* --flxTheme-button-iconColor: invert(100%) sepia(0%) saturate(7421%) hue-rotate(115deg) brightness(96%) contrast(92%); */
    }
  }

  &.fill:is(:active, :active:hover):not(:disabled) {
    --flxTheme-button-borderColor: #ffffff00;
    --flxTheme-button-backgroundColor: #004c99;
    --flxTheme-button-color: #ffffff;

    & .flx-icon {
      /* --flxTheme-button-iconColor: invert(100%) sepia(0%) saturate(7421%) hue-rotate(115deg) brightness(96%) contrast(92%); */
    }
  }

  &.fill:disabled {
    --flxTheme-button-borderColor: #ffffff00;
    --flxTheme-button-backgroundColor: #cbd1db;
    --flxTheme-button-color: #8390a2;

    & .flx-icon {
      /* --flxTheme-button-iconColor: invert(55%) sepia(21%) saturate(292%) hue-rotate(175deg) brightness(98%) contrast(87%); */
    }
  }

  &.icon-center {
    --flxTheme-button-paddingRight: 4px;
    --flxTheme-button-paddingLeft: 4px;
  }
}

/* RADIO */
.flx-radio:not(.flx-themed) .flx-radio-label {
  --flxTheme-radio-fontFamily: 'Open Sans';
  --flxTheme-radio-fontSize: 14px;
  --flxTheme-radio-fontWeight: 500;
  --flxTheme-radio-lineHeight: 22px;
  --flxTheme-radio-gap: 8px;
  --flxTheme-radio-borderRadius: 4px;
  --flxTheme-radio-borderWidth: 1px;
  --flxTheme-radio-paddingLeft: 8px;
  --flxTheme-radio-paddingBottom: 8px;
  --flxTheme-radio-paddingTop: 8px;
  --flxTheme-radio-paddingRight: 8px;

  &.disabled.checked {
    --flxTheme-radio-color: #64748b;
    --flxTheme-radio-borderColor: #a6b0be;
    --flxTheme-radio-backgroundColor: #e3e8ed;

    .flx-radio-icon {
      --flxTheme-radio-iconColor: invert(83%) sepia(7%) saturate(494%) hue-rotate(175deg)
        brightness(85%) contrast(86%);
    }

    .flx-radio-container {
      --flxTheme-radio-iconColor: #a6b0be;
    }
  }

  &.disabled.empty {
    --flxTheme-radio-color: #a6b0be;
    --flxTheme-radio-borderColor: #e3e8ed;
    --flxTheme-radio-backgroundColor: #ffffff;

    .flx-radio-icon {
      --flxTheme-radio-iconColor: invert(97%) sepia(3%) saturate(665%) hue-rotate(181deg)
        brightness(96%) contrast(94%);
    }

    .flx-radio-container {
      --flxTheme-radio-iconColor: #e3e8ed;
    }
  }

  &:hover:not(.disabled).checked {
    --flxTheme-radio-color: #000000;
    --flxTheme-radio-borderColor: #005fc0;
    --flxTheme-radio-backgroundColor: #b0d1f3;

    .flx-radio-icon {
      --flxTheme-radio-iconColor: invert(23%) sepia(95%) saturate(4554%) hue-rotate(200deg)
        brightness(87%) contrast(101%);
    }

    .flx-radio-container {
      --flxTheme-radio-iconColor: #005fc0;
    }
  }

  &:hover:not(.disabled).empty {
    --flxTheme-radio-color: #000000;
    --flxTheme-radio-borderColor: #a6b0be;
    --flxTheme-radio-backgroundColor: #ffffff;

    .flx-radio-icon {
      --flxTheme-radio-iconColor: invert(83%) sepia(7%) saturate(494%) hue-rotate(175deg)
        brightness(85%) contrast(86%);
    }

    .flx-radio-container {
      --flxTheme-radio-iconColor: #a6b0be;
    }
  }

  &.checked {
    --flxTheme-radio-color: #000000;
    --flxTheme-radio-borderColor: #006bd8;
    --flxTheme-radio-backgroundColor: #b0d1f3;

    .flx-radio-icon {
      --flxTheme-radio-iconColor: invert(33%) sepia(57%) saturate(5228%) hue-rotate(198deg)
        brightness(89%) contrast(101%);
    }

    .flx-radio-container {
      --flxTheme-radio-iconColor: #006bd8;
    }
  }

  &.empty {
    --flxTheme-radio-color: #000000;
    --flxTheme-radio-borderColor: #cbd1db;
    --flxTheme-radio-backgroundColor: #ffffff;

    .flx-radio-icon {
      --flxTheme-radio-iconColor: invert(91%) sepia(10%) saturate(194%) hue-rotate(179deg)
        brightness(92%) contrast(89%);
    }

    .flx-radio-container {
      --flxTheme-radio-iconColor: #cbd1db;
    }
  }
}

/* CHECKBOX */
.flx-checkbox:not(.flx-themed) .flx-checkbox-label {
  --flxTheme-checkbox-fontFamily: 'Open Sans';
  --flxTheme-checkbox-fontSize: 14px;
  --flxTheme-checkbox-fontWeight: 500;
  --flxTheme-checkbox-lineHeight: 22px;
  --flxTheme-checkbox-gap: 8px;
  --flxTheme-checkbox-borderRadius: 4px;
  --flxTheme-checkbox-borderWidth: 1px;
  --flxTheme-checkbox-paddingLeft: 8px;
  --flxTheme-checkbox-paddingBottom: 8px;
  --flxTheme-checkbox-paddingTop: 8px;
  --flxTheme-checkbox-paddingRight: 8px;

  &.disabled.checked {
    --flxTheme-checkbox-color: #64748b;
    --flxTheme-checkbox-borderColor: #a6b0be;
    --flxTheme-checkbox-backgroundColor: #e3e8ed;

    .flx-checkbox-icon {
      --flxTheme-checkbox-iconColor: invert(73%) sepia(14%) saturate(261%) hue-rotate(176deg)
        brightness(94%) contrast(92%);
    }

    .flx-checkbox-container {
      --flxTheme-checkbox-iconColor: #a6b0be;
    }

    .flx-checkbox-container .flx-icon {
      --flxTheme-checkbox-iconColor: #a6b0be;
    }
  }

  &.disabled.empty {
    --flxTheme-checkbox-color: #a6b0be;
    --flxTheme-checkbox-borderColor: #e3e8ed;
    --flxTheme-checkbox-backgroundColor: #ffffff;

    .flx-checkbox-icon {
      --flxTheme-checkbox-iconColor: invert(94%) sepia(10%) saturate(111%) hue-rotate(172deg)
        brightness(99%) contrast(90%);
    }

    .flx-checkbox-container {
      --flxTheme-checkbox-iconColor: #e3e8ed;
    }

    .flx-checkbox-container .flx-icon {
      --flxTheme-checkbox-iconColor: #e3e8ed;
    }
  }

  &:hover:not(.disabled).checked {
    --flxTheme-checkbox-color: #000000;
    --flxTheme-checkbox-borderColor: #005fc0;
    --flxTheme-checkbox-backgroundColor: #b0d1f3;

    .flx-checkbox-icon {
      --flxTheme-checkbox-iconColor: invert(24%) sepia(84%) saturate(1769%) hue-rotate(194deg)
        brightness(96%) contrast(104%);
    }

    .flx-checkbox-container {
      --flxTheme-checkbox-iconColor: #005fc0;
    }

    .flx-checkbox-container .flx-icon {
      --flxTheme-checkbox-iconColor: #005fc0;
    }
  }

  &:hover:not(.disabled).empty {
    --flxTheme-checkbox-color: #000000;
    --flxTheme-checkbox-borderColor: #a6b0be;
    --flxTheme-checkbox-backgroundColor: #ffffff;

    .flx-checkbox-icon {
      --flxTheme-checkbox-iconColor: invert(73%) sepia(14%) saturate(261%) hue-rotate(176deg)
        brightness(94%) contrast(92%);
    }

    .flx-checkbox-container {
      --flxTheme-checkbox-iconColor: #a6b0be;
    }

    .flx-checkbox-container .flx-icon {
      --flxTheme-checkbox-iconColor: #a6b0be;
    }
  }

  &.checked {
    --flxTheme-checkbox-color: #000000;
    --flxTheme-checkbox-borderColor: #006bd8;
    --flxTheme-checkbox-backgroundColor: #b0d1f3;

    .flx-checkbox-icon {
      --flxTheme-checkbox-iconColor: invert(27%) sepia(100%) saturate(1444%) hue-rotate(193deg)
        brightness(96%) contrast(107%);
    }

    .flx-checkbox-container {
      --flxTheme-checkbox-iconColor: #006bd8;
    }

    .flx-checkbox-container .flx-icon {
      --flxTheme-checkbox-iconColor: #006bd8;
    }
  }

  &.empty {
    --flxTheme-checkbox-color: #000000;
    --flxTheme-checkbox-borderColor: #cbd1db;
    --flxTheme-checkbox-backgroundColor: #ffffff;

    .flx-checkbox-icon {
      --flxTheme-checkbox-iconColor: invert(86%) sepia(4%) saturate(441%) hue-rotate(179deg)
        brightness(97%) contrast(92%);
    }

    .flx-checkbox-container {
      --flxTheme-checkbox-iconColor: #cbd1db;
    }

    .flx-checkbox-container .flx-icon {
      --flxTheme-checkbox-iconColor: #cbd1db;
    }
  }
}

/* SWITCH */
.flx-switch:not(.flx-themed) {
  & .disabled.checked {
    --flxTheme-switch-knobColor: #ffffff;
    --flxTheme-switch-borderColor: #cbd1db;
    --flxTheme-switch-backgroundColor: #cbd1db;
  }

  & .disabled.empty {
    --flxTheme-switch-knobColor: #a6b0be;
    --flxTheme-switch-borderColor: #e3e8ed;
    --flxTheme-switch-backgroundColor: #ffffff;
  }

  & .checked {
    --flxTheme-switch-knobColor: #ffffff;
    --flxTheme-switch-borderColor: #006bd8;
    --flxTheme-switch-backgroundColor: #006bd8;
  }

  & .empty {
    --flxTheme-switch-knobColor: #64748b;
    --flxTheme-switch-borderColor: #cbd1db;
    --flxTheme-switch-backgroundColor: #ffffff;
  }
}

/* SLIDER */
.flx-value-slider:not(.flx-themed) {
  --flxTheme-slider-accentColor: #006bd8;
  --flxTheme-slider-fontFamily: Open Sans;
  --flxTheme-slider-fontSize: 28px;
  --flxTheme-slider-fontWeight: 700;
  --flxTheme-slider-lineHeight: 42px;

  & .flx-value-slider-min,
  .flx-value-slider-max {
    --flxTheme-slider-values-fontFamily: Open Sans;
    --flxTheme-slider-values-fontSize: 14px;
    --flxTheme-slider-values-fontWeight: 500;
    --flxTheme-slider-values-lineHeight: 22px;
  }

  &.disabled {
    --flxTheme-slider-knobColor: #a6b0be;
    --flxTheme-slider-filledColor: #a6b0be;
    --flxTheme-slider-emptyColor: #e3e8ed;
    --flxTheme-slider-color: #aaaaaa;
    --flxTheme-slider-limitsColor: #aaaaaa;
  }

  & {
    --flxTheme-slider-knobColor: #006bd8;
    --flxTheme-slider-filledColor: #006bd8;
    --flxTheme-slider-emptyColor: #cbd1db;
    --flxTheme-slider-color: #006bd8;
    --flxTheme-slider-limitsColor: #727272;
  }
}

/* SEGMENTED BUTTON */
.flx-segmented-option:not(.flx-themed) {
  --flxTheme-segmentedButton-accentColor: #006bd8;
  --flxTheme-segmentedButton-fontFamily: Open Sans;
  --flxTheme-segmentedButton-fontSize: 14px;
  --flxTheme-segmentedButton-fontWeight: 500;
  --flxTheme-segmentedButton-lineHeight: 22px;
  --flxTheme-segmentedButton-borderWidth: 1px;
  --flxTheme-segmentedButton-borderRadius: 4px;
  --flxTheme-segmentedButton-paddingLeft: 8px;
  --flxTheme-segmentedButton-paddingBottom: 8px;
  --flxTheme-segmentedButton-paddingRight: 8px;
  --flxTheme-segmentedButton-paddingTop: 8px;

  &.selected:disabled {
    --flxTheme-segmentedButton-color: #64748b;
    --flxTheme-segmentedButton-borderColor: #cbd1db;
    --flxTheme-segmentedButton-backgroundColor: #cbd1db;
  }

  &:disabled {
    --flxTheme-segmentedButton-color: #a6b0be;
    --flxTheme-segmentedButton-borderColor: #cbd1db;
    --flxTheme-segmentedButton-backgroundColor: #e3e8ed;
  }

  &.selected:hover:not(:disabled) {
    --flxTheme-segmentedButton-color: #ffffff;
    --flxTheme-segmentedButton-borderColor: #006bd8;
    --flxTheme-segmentedButton-backgroundColor: #005fc0;
  }

  &:hover:not(:disabled) {
    --flxTheme-segmentedButton-color: #006bd8;
    --flxTheme-segmentedButton-borderColor: #cbd1db;
    --flxTheme-segmentedButton-backgroundColor: #e3e8ed;
  }

  &.selected {
    --flxTheme-segmentedButton-color: #ffffff;
    --flxTheme-segmentedButton-borderColor: #006bd8;
    --flxTheme-segmentedButton-backgroundColor: #006bd8;
  }

  & {
    --flxTheme-segmentedButton-color: #006bd8;
    --flxTheme-segmentedButton-borderColor: #cbd1db;
    --flxTheme-segmentedButton-backgroundColor: #ffffff;
  }
}

/* MESSAGE */
.flx-message:not(.flx-themed) {
  --flxTheme-message-gap: 8px;
  --flxTheme-message-fontFamily: 'Open Sans';
  --flxTheme-message-fontSize: 14px;
  --flxTheme-message-fontWeight: 500;
  --flxTheme-message-lineHeight: 22px;
  --flxTheme-message-borderRadius: 4px;
  --flxTheme-message-borderWidth: 1px;
  --flxTheme-message-paddingLeft: 8px;
  --flxTheme-message-paddingBottom: 8px;
  --flxTheme-message-paddingRight: 8px;
  --flxTheme-message-paddingTop: 8px;

  &.info.text {
    --flxTheme-message-linkColor: #006bd8;
    --flxTheme-message-color: #000000;

    & .flx-icon {
      --flxTheme-message-iconColor: invert(49%) sepia(4%) saturate(2294%) hue-rotate(176deg)
        brightness(90%) contrast(86%);
    }
  }

  &.info.border {
    --flxTheme-message-borderColor: #64748b;
    --flxTheme-message-backgroundColor: #ffffff00;
    --flxTheme-message-linkColor: #006bd8;
    --flxTheme-message-color: #000000;

    & .flx-icon {
      --flxTheme-message-iconColor: invert(49%) sepia(4%) saturate(2294%) hue-rotate(176deg)
        brightness(90%) contrast(86%);
    }
  }

  &.info.fill {
    --flxTheme-message-borderColor: #ffffff00;
    --flxTheme-message-backgroundColor: #64748b;
    --flxTheme-message-linkColor: #006bd8;
    --flxTheme-message-color: #ffffff;

    & .flx-icon {
      --flxTheme-message-iconColor: invert(99%) sepia(4%) saturate(112%) hue-rotate(4deg)
        brightness(117%) contrast(100%);
    }
  }

  &.error.text {
    --flxTheme-message-linkColor: #006bd8;
    --flxTheme-message-color: #000000;

    & .flx-icon {
      --flxTheme-message-iconColor: invert(16%) sepia(89%) saturate(4891%) hue-rotate(12deg)
        brightness(97%) contrast(101%);
    }
  }

  &.error.border {
    --flxTheme-message-borderColor: #e62200;
    --flxTheme-message-backgroundColor: #ffffff00;
    --flxTheme-message-linkColor: #006bd8;
    --flxTheme-message-color: #000000;

    & .flx-icon {
      --flxTheme-message-iconColor: invert(16%) sepia(89%) saturate(4891%) hue-rotate(12deg)
        brightness(97%) contrast(101%);
    }
  }

  &.error.fill {
    --flxTheme-message-borderColor: #ffffff00;
    --flxTheme-message-backgroundColor: #e62200;
    --flxTheme-message-linkColor: #006bd8;
    --flxTheme-message-color: #ffffff;

    & .flx-icon {
      --flxTheme-message-iconColor: invert(99%) sepia(4%) saturate(112%) hue-rotate(4deg)
        brightness(117%) contrast(100%);
    }
  }

  &.warning.text {
    --flxTheme-message-linkColor: #006bd8;
    --flxTheme-message-color: #000000;

    & .flx-icon {
      --flxTheme-message-iconColor: invert(52%) sepia(75%) saturate(3670%) hue-rotate(349deg)
        brightness(106%) contrast(98%);
    }
  }

  &.warning.border {
    --flxTheme-message-borderColor: #fd6b1c;
    --flxTheme-message-backgroundColor: #ffffff00;
    --flxTheme-message-linkColor: #006bd8;
    --flxTheme-message-color: #000000;

    & .flx-icon {
      --flxTheme-message-iconColor: invert(52%) sepia(75%) saturate(3670%) hue-rotate(349deg)
        brightness(106%) contrast(98%);
    }
  }

  &.warning.fill {
    --flxTheme-message-borderColor: #ffffff00;
    --flxTheme-message-backgroundColor: #fd6b1c;
    --flxTheme-message-linkColor: #006bd8;
    --flxTheme-message-color: #ffffff;

    & .flx-icon {
      --flxTheme-message-iconColor: invert(99%) sepia(4%) saturate(112%) hue-rotate(4deg)
        brightness(117%) contrast(100%);
    }
  }

  &.success.text {
    --flxTheme-message-linkColor: #006bd8;
    --flxTheme-message-color: #000000;

    & .flx-icon {
      --flxTheme-message-iconColor: invert(35%) sepia(37%) saturate(1791%) hue-rotate(128deg)
        brightness(92%) contrast(101%);
    }
  }

  &.success.border {
    --flxTheme-message-borderColor: #008060;
    --flxTheme-message-backgroundColor: #ffffff00;
    --flxTheme-message-linkColor: #006bd8;
    --flxTheme-message-color: #000000;

    & .flx-icon {
      --flxTheme-message-iconColor: invert(35%) sepia(37%) saturate(1791%) hue-rotate(128deg)
        brightness(92%) contrast(101%);
    }
  }

  &.success.fill {
    --flxTheme-message-borderColor: #ffffff00;
    --flxTheme-message-backgroundColor: #008060;
    --flxTheme-message-linkColor: #006bd8;
    --flxTheme-message-color: #ffffff;

    & .flx-icon {
      --flxTheme-message-iconColor: invert(99%) sepia(4%) saturate(112%) hue-rotate(4deg)
        brightness(117%) contrast(100%);
    }
  }
}

/* DOCUMENT VIEWER */
.flx-document-preview:not(.flx-themed) {
  & .document-viewer-accordion {
    --flxTheme-documentPreview-paddingRight: 32px;
    --flxTheme-documentPreview-paddingLeft: 32px;
    --flxTheme-documentPreview-paddingTop: 32px;
    --flxTheme-documentPreview-paddingBottom: 32px;
    --flxTheme-documentPreview-borderColor: #cbd1db;
    --flxTheme-documentPreview-borderRadius: 4px;
    --flxTheme-documentPreview-borderWidth: 1px;
    --flxTheme-documentPreview-backgroundColor: #e3e8ed;
    --flxTheme-documentPreview-subtitleColor: #898989;
    --flxTheme-documentPreview-titleColor: #000000;

    & .flx-card-title {
      --flxTheme-card-title-fontFamily: Open Sans;
      --flxTheme-card-title-fontSize: 14px;
      --flxTheme-card-title-fontWeight: 500;
      --flxTheme-card-title-lineHeight: 22px;
    }

    & .flx-card-sub-title {
      --flxTheme-card-sub-title-fontFamily: Open Sans;
      --flxTheme-card-sub-title-fontSize: 14px;
      --flxTheme-card-sub-title-fontWeight: 500;
      --flxTheme-card-sub-title-lineHeight: 22px;
    }

    & .flx-document-preview-view .flx-icon {
      --flxTheme-documentPreview-documentIconColor: invert(0%) sepia(0%) saturate(7477%)
        hue-rotate(7deg) brightness(106%) contrast(96%);
    }

    & .flx-document-preview-icon .flx-icon {
      --flxTheme-documentPreview-actionIconColor: invert(23%) sepia(100%) saturate(1853%)
        hue-rotate(196deg) brightness(103%) contrast(103%);
    }
  }
}

/* CARD */
.flx-card:not(.flx-themed) {
  --flxTheme-card-shadow: 0px 4px 16px 0px #0000001a;
  --flxTheme-card-backgroundColor: #ffffff;
  --flxTheme-card-borderColor: #ffffff00;
  --flxTheme-card-borderRadius: 4px;
  --flxTheme-card-borderWidth: 0px;
  --flxTheme-card-subtitleColor: #727272;
  --flxTheme-card-titleColor: #000000;
  --flxTheme-card-gap: 8px;
  --flxTheme-card-paddingRight: 32px;
  --flxTheme-card-paddingLeft: 32px;
  --flxTheme-card-paddingTop: 32px;
  --flxTheme-card-paddingBottom: 32px;

  & .flx-card-title {
    --flxTheme-card-title-fontFamily: Open Sans;
    --flxTheme-card-title-fontSize: 33px;
    --flxTheme-card-title-fontWeight: 700;
    --flxTheme-card-title-lineHeight: 60px;
  }

  & .flx-card-sub-title {
    --flxTheme-card-sub-title-fontFamily: Open Sans;
    --flxTheme-card-sub-title-fontSize: 28px;
    --flxTheme-card-sub-title-fontWeight: 500;
    --flxTheme-card-sub-title-lineHeight: 42px;
  }
}

/* STEPPER */
.flx-stepper:not(.flx-themed) {
  --flxTheme-stepper-paddingLeft: 8px;
  --flxTheme-stepper-paddingBottom: 8px;
  --flxTheme-stepper-paddingRight: 8px;
  --flxTheme-stepper-paddingTop: 8px;

  --flxTheme-stepper-fontFamily: Open Sans;
  --flxTheme-stepper-fontSize: 14px;
  --flxTheme-stepper-fontWeight: 400;
  --flxTheme-stepper-lineHeight: 22px;

  --flxTheme-stepper-fontFamily: Open Sans;
  --flxTheme-stepper-fontSize: 12px;
  --flxTheme-stepper-fontWeight: 400;
  --flxTheme-stepper-lineHeight: 18px;

  --flxTheme-stepper-fontFamily: Open Sans;
  --flxTheme-stepper-fontSize: 14px;
  --flxTheme-stepper-fontWeight: 400;
  --flxTheme-stepper-lineHeight: 22px;

  --flxTheme-stepper-stepRadius: 8px;
  --flxTheme-stepper-borderWidth: 1px;
  --flxTheme-stepper-separatorColor: #cbd1db;

  --flxTheme-stepper-stepFont-fontFamily: Open Sans;
  --flxTheme-stepper-stepFont-fontSize: 14px;
  --flxTheme-stepper-stepFont-fontWeight: 400;
  --flxTheme-stepper-stepFont-lineHeight: 22px;

  --flxTheme-stepper-substepFont-fontFamily: Open Sans;
  --flxTheme-stepper-substepFont-fontSize: 14px;
  --flxTheme-stepper-substepFont-fontWeight: 400;
  --flxTheme-stepper-substepFont-lineHeight: 22px;

  --flxTheme-stepper-stepNumberFont-fontFamily: Open Sans;
  --flxTheme-stepper-stepNumberFont-fontSize: 12px;
  --flxTheme-stepper-stepNumberFont-fontWeight: 400;
  --flxTheme-stepper-stepNumberFont-lineHeight: 18px;

  .step {
    --flxTheme-stepper-stepLabelColor: #898989;
    --flxTheme-stepper-substepColor: #898989;
    --flxTheme-stepper-stepColor: #006b55;
    --flxTheme-stepper-stepBackgroundColor: #ffffff00;
    --flxTheme-stepper-stepBorderColor: #cbd1db;
  }

  .selected {
    --flxTheme-stepper-stepLabelColor: #006b55;
    --flxTheme-stepper-substepColor: #006b55;
    --flxTheme-stepper-stepColor: #ffffff;
    --flxTheme-stepper-stepBackgroundColor: #006b55;
    --flxTheme-stepper-stepBorderColor: #006b55;
    --flxTheme-stepper-substepUnderlineColor: #006b55;
  }
  .completed {
    --flxTheme-stepper-stepLabelColor: #898989;
    --flxTheme-stepper-substepColor: #006b55;
    --flxTheme-stepper-stepColor: #ffffff;
    --flxTheme-stepper-stepBackgroundColor: #006b55;
    --flxTheme-stepper-stepBorderColor: #006b55;
  }
}

/* TABBAR */
.flx-tab-bar:not(.flx-themed) {
  --flxTheme-tabBar-accentColor: #006bd8;
  --flxTheme-tabBar-borderRadius: 8px;
  --flxTheme-tabBar-borderWidth: 0px;
  --flxTheme-tabBar-componentGap: 4px;
  --flxTheme-tabBar-fontFamily: Open Sans;
  --flxTheme-tabBar-fontSize: 14px;
  --flxTheme-tabBar-fontWeight: 400;
  --flxTheme-tabBar-gap: 8px;
  --flxTheme-tabBar-lineHeight: 22px;
  --flxTheme-tabBar-paddingBottom: 8px;
  --flxTheme-tabBar-paddingLeft: 8px;
  --flxTheme-tabBar-paddingRight: 8px;
  --flxTheme-tabBar-paddingTop: 8px;
  --flxTheme-tabBar-shadow: 0px 4px 16px 0px #0000001f;
  --flxTheme-tabBar-tabRadius: 0px;
  --flxTheme-tabBar-underlineWidth: 1px;

  & .flx-tab-header {
    &.active {
      --flxTheme-tabBar-backgroundColor: #ffffff;
      --flxTheme-tabBar-borderColor: #ffffff00;
      --flxTheme-tabBar-iconColor: #006bd8;
      --flxTheme-tabBar-titleColor: #006bd8;
      --flxTheme-tabBar-underlineColor: #006bd8;
    }

    &.active:hover {
      --flxTheme-tabBar-backgroundColor: #ffffff;
      --flxTheme-tabBar-borderColor: #ffffff00;
      --flxTheme-tabBar-iconColor: #006bd8;
      --flxTheme-tabBar-titleColor: #006bd8;
      --flxTheme-tabBar-underlineColor: #006bd8;
    }

    &:not(.active) {
      --flxTheme-tabBar-backgroundColor: #ffffff;
      --flxTheme-tabBar-borderColor: #ffffff00;
      --flxTheme-tabBar-iconColor: #898989;
      --flxTheme-tabBar-titleColor: #898989;
      --flxTheme-tabBar-underlineColor: #ffffff00;
    }

    &:not(.active):hover {
      --flxTheme-tabBar-backgroundColor: #ffffff;
      --flxTheme-tabBar-borderColor: #ffffff00;
      --flxTheme-tabBar-iconColor: #898989;
      --flxTheme-tabBar-titleColor: #898989;
      --flxTheme-tabBar-underlineColor: #ffffff00;
    }
  }
}
